@model IEnumerable<MarcusDesafio.Models.Client>

@{
    ViewData["Title"] = "Index";
}

<h1>Clients</h1>

<p>
    <a asp-action="Create" class="btn btn-success" role="button">Create New</a>
</p>
<table class="table">
    <thead  class="table-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BirthDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TypeDoc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Document)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Adress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateRegister)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Active)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BirthDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TypeDoc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Document)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Adress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateRegister)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Active)
            </td>
            <td>
                <a class="btn btn-outline-dark" role="button" asp-action="Edit" asp-route-id="@item.Id">Edit</a> 
                <a class="btn btn-outline-dark" role="button" asp-action="Details" asp-route-id="@item.Id">Details</a> 
                <a class="btn btn-outline-dark" role="button" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
