@model MarcusDesafio.Models.Sales

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Sales</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfSale)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOfSale)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValueSale)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValueSale)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Active)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Active)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Client)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Client.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
