@model IEnumerable<MarcusDesafio.Models.Sales>

@{
    ViewData["Title"] = "Index";
}

<h1>Sales</h1>

<p>
    <a asp-action="Create" class="btn btn-success" role="button">Create New</a>
    
</p>
<table class="table">
    <thead class="table-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DateOfSale)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValueSale)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Active)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Client)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfSale)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValueSale)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Active)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Client.Id)
            </td>
            <td>
                <a class="btn btn-outline-dark" role="button" asp-action="Edit" asp-route-id="@item.Id" >Edit</a>
                <a class="btn btn-outline-dark" role="button" asp-action="Details" asp-route-id="@item.Id">Details</a>
                <a class="btn btn-outline-dark" role="button" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
